In [1]:
import pandas as pd
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500
import sys
sys.path.append("../fraud_detection/src/")
from util import s_to_time_format, string_to_datetime,hour_to_range
df_train = pd.read_csv("../dataset/train.csv")
df_test = pd.read_csv("../dataset/test.csv")

for df in [df_train, df_test]:
    # pre-processing
    df["loctm_"] = df.loctm.astype(int).astype(str)
    df.loctm_ = df.loctm_.apply(s_to_time_format).apply(string_to_datetime)
    # time-related feature
    df["loctm_hour_of_day"] = df.loctm_.apply(lambda x: x.hour).astype('category')
    df["loctm_minute_of_hour"] = df.loctm_.apply(lambda x: x.minute)
    df["loctm_second_of_min"] = df.loctm_.apply(lambda x: x.second)
    df["loctm_absolute_time"] = [h*60+m for h,m in zip(df.loctm_hour_of_day,df.loctm_minute_of_hour)]
    df["hour_range"] = df.loctm_.apply(lambda x: hour_to_range(x.hour)).astype("category")
    # removed the columns no need
    df.drop(columns = ["loctm_"], axis = 1, inplace = True)

In [2]:
df_train[df_train.bacno == 1][["bacno","cano","locdt","fraud_ind","conam","stocn","scity"]].sort_values(by = "locdt")

         bacno    cano  locdt  fraud_ind    conam  stocn  scity
502741       1  117264      3          0   934.49    102   5817
994932       1  117264      4          0   939.19    102   1463
606676       1  117264     25          0  1267.47    102   1463
1388156      1  117264     30          0  1017.37    102   5817
10441        1  117264     34          0   613.81    102   5817
621811       1  117264     50          0   643.76    102   5817
617285       1  117264     60          0   645.26    102   5817
1264456      1  117264     63          0  1621.54    102   1463
327323       1  117264     68          0   954.83    102    515
1106685      1  117264     68          0   954.83    102   5817
545593       1  117264     79          0   857.56    102   5817

In [3]:
pd.options.display.max_rows = 500

df_train[df_train.bacno == 86478][["bacno","cano","locdt","fraud_ind","conam","stocn","scity","mchno"]].sort_values(by = "locdt")

         bacno    cano  locdt  fraud_ind    conam  stocn  scity  mchno
71921    86478  148778      1          0   103.48     38   6580  54238
76088    86478  148778      1          0   287.02     38   6580  54238
231153   86478  148778      1          0   103.48     38   6580  54238
313386   86478  148778      1          0   103.48     38   6580  54238
538437   86478  148778      1          0   103.48     38   6580  54238
659749   86478  148778      1          0   103.48     38   6580  54238
1049109  86478  148778      1          0   103.48     38   6580  54238
1195857  86478  148778      1          1   407.23     38   6580  54238
1504830  86478  148778      1          0   287.02     38   6580  54238
896725   86478  148779     66          0  1081.24    102   4247  77998

In [4]:
df_train[df_train.bacno == 113261][["bacno","cano","locdt","fraud_ind","conam","stocn","scity","mchno"]].sort_values(by = "locdt")

          bacno   cano  locdt  fraud_ind    conam  stocn  scity  mchno
435348   113261  38038      1          0   658.96    102   5817   3023
1206005  113261  38038      5          0   177.04     38   6580  54238
399371   113261  38038      6          0   513.80    102      0  74337
1151800  113261  38038      9          0   660.10    102   5817  96231
646734   113261  38038     10          0   449.49    102   5817   3161
653835   113261  38038     11          0   513.80    102      0  74337
596521   113261  38038     13          0   513.80    102      0  59333
348792   113261  38038     15          0   634.99    102   5817   3042
1324246  113261  38038     16          0  1038.68    102   5817  77136
374654   113261  38038     17          0   513.80    102      0  59333
673357   113261  38038     20          0   633.15    102   5817  38206
1066878  113261  38038     21          0   513.80    102      0  59333
428604   113261  38038     23          0   622.82    102   5817   3023
122151   113261  38038     23          0   449.49    102   5817   2321
428772   113261  38038     26          0   658.96    102   5817   3023
153578   113261  38038     30          0   449.49    102   5817   3161
1237161  113261  38038     30          0   856.72    102   5817  53369
633320   113261  38038     30          0   513.80    102      0  59333
593016   113261  38038     33          0   513.80    102      0  59333
911907   113261  38038     33          0   513.80    102      0  59333
18097    113261  38038     33          0   513.80    102      0  59333
0        113261  38038     33          0   513.80    102      0  59333
266239   113261  38038     34          0   649.98    102   5817   3023
16628    113261  38038     34          0   612.50    102   5817  38206
217215   113261  38038     36          0   465.62    102   5817   3161
64552    113261  38038     36          0   610.86    102   5817  22782
1106251  113261  38038     36          0   177.04     38   6580  54238
1046181  113261  38038     37          0   853.34    102   5817  96461
308865   113261  38038     39          0   513.80    102      0  59333
229252   113261  38038     44          0   638.35    102   5800   4584
1073276  113261  38038     45          0   513.80    102      0  74337
770100   113261  38038     45          0   615.44    102   5817  78061
27691    113261  38038     49          0  1467.41    102   5820  34217
219271   113261  38038     49          0   800.80    102   5859  48785
34354    113261  38038     49          0   403.35    102   5817   3023
1285629  113261  38038     49          0   513.80    102      0  74337
1067175  113261  38038     50          0   573.47     27   1974  54715
874589   113261  38038     60          0   513.80    102      0  59333
1068071  113261  38038     60          0   630.05    102   5817   3023
249552   113261  38038     69          0   177.04     38   6580  54238
417551   113261  38038     70          0   513.80    102      0  59427
906372   113261  38038     71          0   505.68    102   5817  78061
1119894  113261  38038     74          0  1247.76    102   5817  31526
1203406  113261  38038     74          0  1247.76    102   5817  31526
1271610  113261  38038     75          0   875.92    102   5817  36053
1268842  113261  38038     75          0   631.60    102   5817   3210
130577   113261  38038     76          0   513.80    102      0  59333
1420331  113261  38038     76          0  1467.41    102   5820  34217
175247   113261  38038     77          0   655.80    102   5817   3023
813540   113261  38038     79          0     0.00    102   5817  20378
173174   113261  38038     79          0   454.96    102   5817   3161
1133105  113261  38038     79          0   698.40    102   5817  77993
1480232  113261  38038     80          0    74.77    102   5817  20379
383905   113261  38038     80          0   573.26    102   4526  46253
1013188  113261  38038     80          0   460.34    102   5817  78387
1154252  113261  38038     81          0   513.80    102      0  74337
764874   113261  38038     81          0   177.04    102   5817  20379
1272009  113261  38038     82          0   183.84    102   5817  20379
826964   113261  38038     83          0   806.57    102   5820  34217
188638   113261  38038     83          0  1351.27     44   2138  33794
192795   113261  38038     83          0   838.66    102   5820  34217
634255   113261  38038     84          0  1237.60    102   5817  31526
1135877  113261  38038     84          0    86.90    102   5817  20379
964947   113261  38038     84          0   132.31    102   5817  20379
600278   113261  38038     85          0   108.65    102   5817  20379
1038914  113261  38038     85          0   116.10    102   5817  20379
1225845  113261  38038     85          0   628.81    102   5817  38206
167650   113261  38038     86          0   637.13    102   5857   8410
902643   113261  38038     87          0   454.96    102   5817   3161
1291970  113261  38038     87          0  1197.67    102   5800   4538
468517   113261  38038     88          0   207.41    102   5817  20379
835899   113261  38038     88          0   210.36    102   5817  20379
1122101  113261  38038     89          0   229.88    102   5817  20379
1370953  113261  38038     89          0   349.37    102   5817  20379
551140   113261  38038     90          0   643.17    102   5817   3023
781145   113261  38038     90          0     0.00    104   2451  11752
850023   113261  38038     90          0     0.00    104   5320  11801
162955   113261  38038     90          0     0.00    104   5320  11801
923677   113261  38038     90          1  2385.75    104   4604  67470
1023622  113261  38038     90          0     0.00    104   2451  11752

In [5]:
df_train[df_train.fraud_ind == 1][["bacno","cano","locdt","fraud_ind","conam","stocn","scity"]].sort_values(by = "locdt")

          bacno    cano  locdt  fraud_ind    conam  stocn  scity
1195857   86478  148778      1          1   407.23     38   6580
895753   143583   67806      1          1   930.97     27    955
895769     9427  200893      1          1   794.93     46   3460
806851    97988   77147      1          1   898.22     46   3460
661307   159517  146746      1          1     0.08     52   5932
...         ...     ...    ...        ...      ...    ...    ...
1498494   79325  177179     90          1   489.84     25    327
408130    99091  152801     90          1   103.48     46   3460
1498197  157358  143720     90          1  1756.88     14   5356
1498116  139508  134759     90          1  1304.30     52   5932
214122    75599   15220     90          1   294.13     42   3789

[20355 rows x 7 columns]

In [6]:
# 這個人過去有沒有被盜刷過

In [7]:
# 同一天當中的feature
# 花費的金額
def group_target_by_cols(df_train, df_test, recipe):
    import gc
    df = pd.concat([df_train, df_test], axis = 0)
    for m in range(len(recipe)):
        cols = recipe[m][0]
        for n in range(len(recipe[m][1])):
            target = recipe[m][1][n][0]
            method = recipe[m][1][n][1]
            name_grouped_target = method+"_"+target+'_BY_'+'_'.join(cols)
            tmp = df[cols + [target]].groupby(cols).agg(method)
            tmp = tmp.reset_index().rename(index=str, columns={target: name_grouped_target})
            df_train = df_train.merge(tmp, how='left', on=cols)
            df_test = df_test.merge(tmp, how='left', on=cols)
    del tmp
    gc.collect()
    
    return df_train, df_test

A = [
    (["bacno","locdt"], [
            ('conam', 'count'),
            ('conam', 'min'),
            ('conam', 'max'),
            ('conam', 'mean'),
            ('conam', 'median'),
            ('conam', 'var'),
            ('conam', 'sum'),
        ]), # 這個歸戶(這個人)在同一天當中刷卡的次數, 刷卡的最大金額, 最小金額, .., 總金額
    (["bacno","locdt","scity"], [
            ('conam', 'count'),
            ('conam', 'min'),
            ('conam', 'max'),
            ('conam', 'mean'),
            ('conam', 'median'),
            ('conam', 'var'),
            ('conam', 'sum'),
        ]),
    (["bacno","locdt","stocn"], [
            ('conam', 'count'),
            ('conam', 'min'),
            ('conam', 'max'),
            ('conam', 'mean'),
            ('conam', 'median'),
            ('conam', 'var'),
            ('conam', 'sum'),
        ]),
    (["bacno","locdt","mchno"], [
            ('conam', 'count'),
            ('conam', 'min'),
            ('conam', 'max'),
            ('conam', 'mean'),
            ('conam', 'median'),
            ('conam', 'var'),
            ('conam', 'sum'),
        ]),
    (["bacno","locdt","stocn","scity"], [
            ('conam', 'count'),
            ('conam', 'min'),
            ('conam', 'max'),
            ('conam', 'mean'),
            ('conam', 'median'),
            ('conam', 'var'),
            ('conam', 'sum'),
        ]),

]
B = [
    (["bacno","mchno"], [
        ('conam', 'count'),
        ('conam', 'min'),
        ('conam', 'max'),
        ('conam', 'mean'),
        ('conam', 'median'),
        ('conam', 'var'),
        ('conam', 'sum'),
    ]),# 這個歸戶(這個人)在同一店家刷卡的次數, 刷卡的最大金額, 最小金額, .., 總金額
]
df_train, df_test = group_target_by_cols(df_train, df_test, B)
#df_train.groupby(["bacno","locdt","conam"]).agg("count")

/ldap_home/yunrui.li/.pyenv/versions/3.6.5/envs/fraud/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [8]:
df_train

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,fraud_ind,hcefg,insfg,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey,loctm_hour_of_day,loctm_minute_of_hour,loctm_second_of_min,loctm_absolute_time,hour_range,count_conam_BY_bacno_mchno,min_conam_BY_bacno_mchno,max_conam_BY_bacno_mchno,mean_conam_BY_bacno_mchno,median_conam_BY_bacno_mchno,var_conam_BY_bacno_mchno,sum_conam_BY_bacno_mchno
0,6881,113261,38038,513.80,5,0,N,0,N,N,0,5,N,0,33,172652.0,457,59333,N,0,102,0,516056,17,26,52,1046,afternoon,11,513.80,513.80,513.800000,513.800,0.000000,5651.80
1,0,134508,45725,465.62,5,0,N,2,N,N,0,0,N,0,9,105114.0,451,0,N,5817,102,0,4376,10,51,14,651,morning,8,465.62,465.62,465.620000,465.620,0.000000,3724.96
2,6881,15408,188328,513.80,5,0,N,0,N,N,0,5,N,0,6,152458.0,457,59333,N,0,102,0,483434,15,24,58,924,afternoon,3,513.80,513.80,513.800000,513.800,0.000000,1541.40
3,6716,157159,29967,1016.11,5,62,N,5,N,N,0,5,N,0,5,172946.0,247,50436,N,3281,102,0,1407164,17,29,46,1049,afternoon,10,738.52,1828.20,1115.457000,1015.650,133901.691357,11154.57
4,5975,105985,81305,713.66,5,62,N,4,N,N,0,5,N,0,6,182129.0,263,93775,N,5817,102,0,1051004,18,21,29,1101,night,1,713.66,713.66,713.660000,713.660,NaN,713.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521782,6322,91008,15189,578.38,5,75,Y,8,NaN,NaN,0,6,N,0,4,191642.0,209,38222,N,5817,102,0,1478280,19,16,42,1156,night,2,578.38,764.81,671.595000,671.595,17378.072450,1343.19
1521783,3226,145107,116252,435.32,5,75,Y,8,NaN,NaN,0,6,N,0,13,102338.0,192,90135,N,1458,102,0,661087,10,23,38,623,morning,13,407.87,462.99,436.159231,438.210,169.727841,5670.07
1521784,6769,162168,93598,1.38,5,75,Y,8,NaN,NaN,0,6,N,0,29,234618.0,373,79246,N,5817,102,0,167073,23,46,18,1426,night,2,1.38,1.38,1.380000,1.380,0.000000,2.76
1521785,6032,45406,197460,1.38,5,75,Y,2,NaN,NaN,0,6,N,0,24,215218.0,373,79246,N,5817,102,0,338215,21,52,18,1312,night,4,1.38,1.38,1.380000,1.380,0.000000,5.52
1521786,6716,48723,176440,406.59,5,75,N,5,NaN,NaN,0,6,N,0,13,163603.0,251,69607,N,2310,102,0,1055258,16,36,3,996,afternoon,4,265.42,406.59,317.177500,298.350,4026.258225,1268.71

In [9]:
df_test

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,hcefg,insfg,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey,loctm_hour_of_day,loctm_minute_of_hour,loctm_second_of_min,loctm_absolute_time,hour_range,count_conam_BY_bacno_mchno,min_conam_BY_bacno_mchno,max_conam_BY_bacno_mchno,mean_conam_BY_bacno_mchno,median_conam_BY_bacno_mchno,var_conam_BY_bacno_mchno,sum_conam_BY_bacno_mchno
0,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,215328.0,457,59360,N,0,102,0,592489,21,53,28,1313,night,11,513.80,513.80,513.80,513.80,0.0,5651.80
1,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,222007.0,457,59360,N,0,102,0,592452,22,20,7,1340,night,11,513.80,513.80,513.80,513.80,0.0,5651.80
2,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,100,170013.0,457,59360,N,0,102,0,590212,17,0,13,1020,afternoon,11,513.80,513.80,513.80,513.80,0.0,5651.80
3,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,100,165914.0,457,59360,N,0,102,0,590209,16,59,14,1019,afternoon,11,513.80,513.80,513.80,513.80,0.0,5651.80
4,6881,163188,116799,513.80,5,0,N,0,N,N,5,N,0,102,215311.0,457,59360,N,0,102,0,592488,21,53,11,1313,night,11,513.80,513.80,513.80,513.80,0.0,5651.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421660,5975,147326,79511,633.76,5,62,N,2,N,N,5,N,0,116,111228.0,343,87282,N,5817,102,0,1187507,11,12,28,672,morning,1,633.76,633.76,633.76,633.76,NaN,633.76
421661,6716,14305,136493,952.84,5,62,N,5,N,N,8,N,0,107,85839.0,245,48784,N,5859,102,0,1182598,8,58,39,538,morning,1,952.84,952.84,952.84,952.84,NaN,952.84
421662,5975,156543,137963,713.42,5,62,N,4,N,N,5,N,0,111,184921.0,263,98326,N,5817,102,0,898724,18,49,21,1129,night,1,713.42,713.42,713.42,713.42,NaN,713.42
421663,6231,156543,137964,903.94,5,62,N,5,N,N,5,N,0,114,144434.0,251,17763,N,5817,102,0,971467,14,44,34,884,noon,1,903.94,903.94,903.94,903.94,NaN,903.94
421664,6769,131985,98699,760.09,5,62,N,4,N,N,5,N,0,116,162804.0,251,78019,N,3294,102,0,101230,16,28,4,988,afternoon,1,760.09,760.09,760.09,760.09,NaN,760.09