In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("../fraud_detection/src/")

from util import s_to_time_format, string_to_datetime,hour_to_range
from tqdm import tqdm

#-----------------------------
# load data
#-----------------------------
df_train = pd.read_csv("/data/yunrui_li/fraud/dataset/train.csv")
df_test = pd.read_csv("/data/yunrui_li/fraud/dataset/test.csv")


for df in [df_train, df_test]:
    # pre-processing
    df["loctm_"] = df.loctm.astype(int).astype(str)
    df.loctm_ = df.loctm_.apply(s_to_time_format).apply(string_to_datetime)
    # time-related feature
    df["loctm_hour_of_day"] = df.loctm_.apply(lambda x: x.hour)
    df["loctm_minute_of_hour"] = df.loctm_.apply(lambda x: x.minute)
    df["loctm_second_of_min"] = df.loctm_.apply(lambda x: x.second)

    # removed the columns no need
    df.drop(columns = ["loctm_", "loctm","txkey"], axis = 1, inplace = True)

In [ ]:
feature = []
for gby in [
    #"bacno",
    "mcc",
    #"hcefg",
    #"contp",
    "etymd"
]:
    df = pd.concat([df_train, df_test], axis = 0)
    df.sort_values(by = [gby,"locdt"], inplace = True)
    #df = df.head(1000)
    for n in [
                #7,
              14]:
        for method in ["min","max","mean","std","median"]:
            cols = "average_{}_{}_conam_in_past_{}_days".format(gby,method,n)
            ans = []
            key = []
            for _,x in df[[gby,"locdt","conam"]].groupby(gby):
                current_day_at_this_transaction = x.locdt.tolist()
                time_interval = [(current_date-n,current_date) for current_date in current_day_at_this_transaction]
                out = []
                check_if_exist = []
                for s,e in time_interval:
                    tmp = x[(x.locdt < e) & (x.locdt >= s)]
                    if len(tmp)!=0:
                        if check_if_exist == tmp.index.tolist():
                            pass
                        else:
                            if method == "mean":
                                out.append(tmp.conam.mean())
                            elif method == "sum":
                                out.append(tmp.conam.sum())
                            elif method == "max":
                                out.append(tmp.conam.max())
                            elif method == "min":
                                out.append(tmp.conam.min())
                            elif method == "std":
                                out.append(tmp.conam.std())
                            elif method == "median":
                                out.append(tmp.conam.median())
                            else:
                                raise ValueError("this method {} we don't support".format(method))
                            check_if_exist = tmp.index.tolist()
                if len(out) == 0:
                    ans.append(0.0)
                else:
                    ans.append(1.0* sum(out)/len(out))

                key.append(_)
            tmp_ = pd.DataFrame({gby:key,cols:ans})
            print (df[gby].nunique()==len(tmp_))
            tmp_.to_csv("../fraud_detection/features/{}.csv".format(cols), index = False)
            print (cols)
            feature.append((cols,tmp_))

/ldap_home/yunrui.li/.pyenv/versions/3.6.5/envs/fraud/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

True
average_mcc_min_conam_in_past_7_days
True
average_mcc_max_conam_in_past_7_days
True
average_mcc_mean_conam_in_past_7_days
True
average_mcc_std_conam_in_past_7_days
True
average_mcc_median_conam_in_past_7_days

In [ ]:
len(feature)

In [134]:
feature[1][0]

'average_bacno_max_conam_in_past_7_days'

In [135]:
feature[1][1]

    bacno  average_bacno_max_conam_in_past_7_days
0       0                                0.000000
1       1                             1097.226000
2       2                             1222.710145
3       3                              570.890000
4       4                              647.712500
..    ...                                     ...
65     65                              487.987500
66     66                              580.605833
67     67                              663.823158
68     68                                0.000000
69     69                             1119.829167

[70 rows x 2 columns]

In [19]:
df[["etymd","locdt"]].etymd.value_counts()

0    1000
Name: etymd, dtype: int64

In [113]:
n = 7
method = "min"
gby = "mcc"
#time_interval = [(i+1,i+n) for i in range(120-n+1)]
#time_interval = [(i+1,i+n) for i in range(0,120-n+1,n)]

ans = []
cols = "average_{}_{}_conam_in_past_{}_days".format(gby,method,n)
key = []
for _,x in df[[gby,"locdt","conam"]].groupby(gby):
    print (_)
    current_day_at_this_transaction = x.locdt.tolist()
    time_interval = [(current_date-n,current_date) for current_date in current_day_at_this_transaction]
    out = []
    
#     for s,e in time_interval:
#         tmp = x[(x.locdt < e) & (x.locdt >= s)]
#         #print (len(tmp))
#         if len(tmp)!=0:
#             if method == "mean":
#                 out.append(tmp.conam.mean())
#             elif method == "std":
#                 out.append(tmp.conam.std())
#             elif method == "max":
#                 out.append(tmp.conam.max())
#             elif method == "min":
#                 out.append(tmp.conam.min())
#             elif method == "median":
#                 out.append(tmp.conam.median())
#     if len(out)!=0:
#         ans.append(1.0* sum(out)/len(out))
#     else:
#         ans.append(0.0)
    check_if_exist = []
    for s,e in time_interval:
        tmp = x[(x.locdt < e) & (x.locdt >= s)]
        if len(tmp)!=0:
            if check_if_exist == tmp.index.tolist():
                pass
            else:
                if method == "mean":
                    out.append(tmp.conam.mean())
                elif method == "sum":
                    out.append(tmp.conam.sum())
                elif method == "max":
                    out.append(tmp.conam.max())
                elif method == "min":
                    out.append(tmp.conam.min())
                elif method == "std":
                    out.append(tmp.conam.std())
                elif method == "median":
                    out.append(tmp.conam.median())
                else:
                    raise ValueError("this method {} we don't support".format(method))
                check_if_exist = tmp.index.tolist()
    if len(out) == 0:
        ans.append(0.0)
    else:
        ans.append(1.0* sum(out)/len(out))

    key.append(_)
#     if _ == 1:
#         break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191

KeyboardInterrupt:

In [107]:
tmp

Empty DataFrame
Columns: [bacno, locdt, conam]
Index: []

In [ ]:
pd.DataFrame({gby:key,cols:ans})

In [112]:
pd.DataFrame({gby:key,cols:ans})

    bacno  average_bacno_min_conam_in_past_7_days
0       0                                0.000000
1       1                             1097.226000
2       2                              133.963056
3       3                              476.330000
4       4                              570.988333
..    ...                                     ...
61     61                              680.776667
62     62                                0.000000
63     63                              455.220455
64     64                                0.000000
65     65                              403.487500

[66 rows x 2 columns]

In [24]:
pd.options.display.max_columns = 100

In [72]:
time_interval

[(1, 14),
 (2, 15),
 (3, 16),
 (4, 17),
 (5, 18),
 (6, 19),
 (7, 20),
 (8, 21),
 (9, 22),
 (10, 23),
 (11, 24),
 (12, 25),
 (13, 26),
 (14, 27),
 (15, 28),
 (16, 29),
 (17, 30),
 (18, 31),
 (19, 32),
 (20, 33),
 (21, 34),
 (22, 35),
 (23, 36),
 (24, 37),
 (25, 38),
 (26, 39),
 (27, 40),
 (28, 41),
 (29, 42),
 (30, 43),
 (31, 44),
 (32, 45),
 (33, 46),
 (34, 47),
 (35, 48),
 (36, 49),
 (37, 50),
 (38, 51),
 (39, 52),
 (40, 53),
 (41, 54),
 (42, 55),
 (43, 56),
 (44, 57),
 (45, 58),
 (46, 59),
 (47, 60),
 (48, 61),
 (49, 62),
 (50, 63),
 (51, 64),
 (52, 65),
 (53, 66),
 (54, 67),
 (55, 68),
 (56, 69),
 (57, 70),
 (58, 71),
 (59, 72),
 (60, 73),
 (61, 74),
 (62, 75),
 (63, 76),
 (64, 77),
 (65, 78),
 (66, 79),
 (67, 80),
 (68, 81),
 (69, 82),
 (70, 83),
 (71, 84),
 (72, 85),
 (73, 86),
 (74, 87),
 (75, 88),
 (76, 89),
 (77, 90),
 (78, 91),
 (79, 92),
 (80, 93),
 (81, 94),
 (82, 95),
 (83, 96),
 (84, 97),
 (85, 98),
 (86, 99),
 (87, 100),
 (88, 101),
 (89, 102),
 (90, 103),
 (91, 104),
 (92, 105),
 (93, 106),
 (94, 107),
 (95, 108),
 (96, 109),
 (97, 110),
 (98, 111),
 (99, 112),
 (100, 113),
 (101, 114),
 (102, 115),
 (103, 116),
 (104, 117),
 (105, 118),
 (106, 119),
 (107, 120)]

In [82]:
time_interval = [(i+1,i+n) for i in range(0,120-n+1,n)]
time_interval

[(1, 14),
 (15, 28),
 (29, 42),
 (43, 56),
 (57, 70),
 (71, 84),
 (85, 98),
 (99, 112)]

In [104]:
df[df.bacno == 1]

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,fraud_ind,hcefg,insfg,iterm,locdt,loctm_hour_of_day,loctm_minute_of_hour,loctm_second_of_min,mcc,mchno,ovrlt,scity,stocn,stscd
502741,6413,1,117264,934.49,5,62,N,4,N,N,0.0,5,N,0,3,20,0,0,275,53099,N,5817,102,0
994932,6189,1,117264,939.19,5,62,Y,2,N,N,0.0,5,N,0,4,22,14,28,317,90151,N,1463,102,0
606676,6189,1,117264,1267.47,5,62,Y,2,N,N,0.0,5,N,0,25,21,26,35,317,90151,N,1463,102,0
1388156,6231,1,117264,1017.37,5,62,N,5,N,N,0.0,5,N,0,30,20,9,47,277,12726,N,5817,102,0
10441,6189,1,117264,613.81,5,62,N,4,N,N,0.0,5,N,0,34,15,5,12,263,92571,N,5817,102,0
621811,6189,1,117264,643.76,5,62,N,4,N,N,0.0,5,N,0,50,14,48,17,263,92641,N,5817,102,0
617285,6189,1,117264,645.26,5,62,N,4,N,N,0.0,5,N,0,60,13,47,34,263,92641,N,5817,102,0
1264456,6189,1,117264,1621.54,5,62,Y,2,N,N,0.0,5,N,0,63,21,37,23,317,90151,N,1463,102,0
327323,6413,1,117264,954.83,5,62,Y,2,N,Y,0.0,5,N,0,68,23,20,29,273,53416,N,515,102,0
1106685,6413,1,117264,954.83,5,62,N,5,N,N,0.0,5,N,0,68,19,29,33,277,52334,N,5817,102,0
545593,6032,1,117264,857.56,5,62,N,5,N,N,0.0,5,N,0,79,13,29,4,251,77986,N,5817,102,0